__pycache__/
*.pyc
*.env
*.csv

# All files used for trying code is try_*
try_*.py

envWebAppSettings.json

evals/*
# EXceptions
!evals/
!evals/datasets/
!evals/datasets/gb_ci_pipeline.csv
!evals/datasets/gb_gold_med.csv
!evals/datasets/gb_gold.csv
!evals/timer_helper.py

# Exception - books in testing
!evals/books/frankenstein-or-the-modern-prometheus_shelley-mary-wollstonecraft_84.*
!evals/books/the-strange-case-of-dr-jekyll-and-mr-hyde_stevenson-robert-louis_42.*

# Complete results and plots:
!evals/results/*            
*.ipynb
