trigger:
- main

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '85684fdf-14bb-42cd-a573-b9ae36a30f16'
  imageRepository: 'gutenbergrag'
  containerRegistry: 'raggutenbergregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'      # e.g. 9, 10, 11, etc.

  azureSubscription: 'GutenbergRAGAppReg-ServiceConn'
  webAppName: 'gbRAGFastAPI'

# Stage 1: TEST
stages:
- stage: Test
  displayName: Run pytest suite
  jobs:
  - job: Test
    displayName: Run tests
    pool:
      name: 'SelfHosted'
    steps:
    # Optional: consider specific Python version if needed
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.12'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      displayName: Install Python dependencies

    - script: pytest tests/test_integration_api.py --junitxml=test-results.xml
      displayName: Run pytest
      env:
        AZURE_SEARCH_ENDPOINT: $(AZURE_SEARCH_ENDPOINT)
        AZURE_SEARCH_KEY: $(AZURE_SEARCH_KEY)
        AZ_OPENAI_EMBED_ENDPOINT: $(AZ_OPENAI_EMBED_ENDPOINT)
        AZ_OPENAI_EMBED_KEY: $(AZ_OPENAI_EMBED_KEY)
        AZ_OPENAI_GPT_ENDPOINT: $(AZ_OPENAI_GPT_ENDPOINT)
        AZ_OPENAI_GPT_KEY: $(AZ_OPENAI_GPT_KEY)
        QDRANT_SEARCH_ENDPOINT: $(QDRANT_SEARCH_ENDPOINT)
        QDRANT_SEARCH_KEY: $(QDRANT_SEARCH_KEY)

    - task: PublishTestResults@2
      displayName: Publish pytest results
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'test-results.xml'
        failTaskOnFailedTests: true


# Stage 2: BUILD (only if tests passed)
- stage: Build
  displayName: Build and push image
  dependsOn: Test
  condition: succeeded()      # don't build if tests fail
  jobs:
  - job: Build
    displayName: Build and push
    pool:
      name: 'SelfHosted'
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest


# Stage 3: DEPLOY (only if build passed)
- stage: Deploy
  displayName: Deploy container to Web App
  dependsOn: Build
  condition: succeeded()      # only deploy if build succeeded
  jobs:
  - job: Deploy
    displayName: Deploy to Azure Web App
    pool:
      name: 'SelfHosted'
    steps:
    - task: AzureWebAppContainer@1
      inputs:
        azureSubscription: 'GutenbergRAGAppReg-ServiceConn'
        appName: $(webAppName)
        deployToSlotOrASE: true
        resourceGroupName: 'rag'
        slotName: 'production'
        imageName: '$(containerRegistry)/$(imageRepository):$(tag)'
