azure-search-documents==11.* 
openai 
tiktoken 
python-dotenv 
requests
pydantic
pydantic-settings 
python-dotenv
tqdm

pyrate_limiter
asyncio
backoff

fastapi
sqlmodel
sqlalchemy
psycopg2
httpx
pytest
httpx
aiosqlite
# uvicorn[standard]

langchain-text-splitters
langchain-core