
azure-search-documents==11.* 
azure-identity

openai 
pandas
tiktoken 
python-dotenv 
requests
requests-async
pydantic
pydantic-settings 
python-dotenv
tqdm

pyrate_limiter
asyncio
aiosqlite
asyncpg
httpx
backoff
fastapi
fastapi-pagination

sqlmodel
sqlalchemy
asyncpg
scipy
matplotlib

# psycopg2
psycopg2-binary
httpx
httpx
pytest
pytest-asyncio
deepeval
uvicorn[standard]

langchain-text-splitters
langchain-core
qdrant-client

# chunking
llama-index-core 
llama-index-embeddings-azure-openai
llama-index-embeddings-openai 
llama-index